mixin social-links(data)
    .social-links
        A.social-links__link(href=jv0)
            +icon({icon:'vk'})
        A.social-links__link(href=jv0)
            +icon({icon:'ok'})
        A.social-links__link(href=jv0)
            +icon({icon:'fb'})
        A.social-links__link(href=jv0)
            +icon({icon:'tw'})
        A.social-links__link(href=jv0)
            +icon({icon:'in'})
