mixin social-links
    NAV.social-links
        A.social-links__item(href=jv0)
            +icon({icon: 'instagram'})
        A.social-links__item(href=jv0)
            +icon({icon: 'vk'})
        A.social-links__item(href=jv0)
            +icon({icon: 'ok'})
        A.social-links__item(href=jv0)
            +icon({icon: 'fb'})
        A.social-links__item(href=jv0)
            +icon({icon: 'tw'})
