include ../product-card/product-card

mixin sliders(data)
    .sliders(class=`sliders--${data.name}`)
        .sliders__wrapp
            .sliders__header
                .sliders__header-wrapp
                    h3.sliders__title= data.title
                    if data.tabs
                        .sliders__tabs
                            each item in data.tabs
                                if item.active
                                    button.sliders__tab(type="button" data-content=item.name).is-active= item.title
                                else
                                    button.sliders__tab(type="button" data-content=item.name)= item.title

            .sliders__content-wrapp
                if data.tabs
                    each item in data.tabs
                        if item.active
                            .sliders__content(data-slider=item.name).is-active
                                each item in productItems.items
                                    +product-card(item)
                        else
                            .sliders__content(data-slider=item.name)
                                each item in productItems.items
                                    +product-card(item)
                else
                    .sliders__content.is-active
                        each item in productItems.items2
                            +product-card(item)

            button.sliders__left(type="button")
                +fa-icon('angle-left')
            button.sliders__right(type="button")
                +fa-icon('angle-right')
