mixin product-card(data)
    .product-card&attributes(attributes)
        .product-card__icons
            if data.isFavorite
                A.product-card__icon.product-card__icon--favorite.is-active(href=jv0)
                    +fa-icon('heart-o')
            else
                A.product-card__icon.product-card__icon--favorite(href=jv0)
                    +fa-icon('heart-o')
            A.product-card__icon.product-card__icon--view(href=jv0)
                +fa-icon('eye')
        .product-card__tags
            if data.discount
                .product-card__tags-discount
                    | -
                    =data.discount
                    | %
            if data.isNew
                .product-card__tags-new Новинка!
        A.product-card__photo(href=jv0)
            img(src=data.img, alt=data.title)
            BUTTON.product-card__add-cart(type='button') В корзину
        A.product-card__name(href=jv0)
            span=data.title
        .product-card__price
            .product-card__price-value
                =data.price
                |
                | руб.
            if data.oldPrice
                .product-card__price-discount
                    =data.oldPrice
                    |
                    | руб.

