mixin filter-range(data)
    +b.filter-range&attributes(attributes)
        +e.slider
            input(
                type='text'
                data-slider-min=data.min
                data-slider-max=data.max
                data-slider-step=data.step
                data-slider-value=data.value
                class='js-filter-range'
            )
        +e.label(
            data-label=data.label
            data-units=data.units
            class='js-filter-range-label'
            )
            =data.label
            | :
            |
            b
                =data.min
                |
                |
                =data.units
                |
                | -
                |
                =data.max
                |
                |
                =data.units
