mixin news-block(data)
    .news-block
        img(src=data.img, alt=data.title).news-block__img
        h5.news-block__title
            a(href=jv0)= data.title
        .news-block__date= data.date
        p.news-block__desc= data.desc
        a(href=jv0).news-block__detail Подробнее
