mixin product-slider(data)
    +b.product-slider
        +e.content
            each item in data.items
                a(href=item.img data-fancybox="gallery" data-type="image")
                    img(src=item.img, alt=item.alt)

    +b.product-slider-nav
        +e.content
            each item in data.items
                div
                    img(src=item.img, alt=item.alt)
