include main-menu-second/main-menu-second
include ../phone-link/phone-link
include ../close-btn/close-btn

mixin main-menu(data)
    +b.main-menu
        +wrapp.main-menu__wrapp

            +close-btn({width: '30px', height: '30px'})

            +e.NAV.list
                +e.A.link(href="/").is-active Главная
                +e.A.link(href=jv0) Акции
                +e.A.link(href=jv0) Каталог продукции
                +e.A.link(href=jv0) Наши работы
                +e.A.link(href=jv0) Образцы гранита
                +e.A.link(href=jv0) Гарантия
                +e.A.link(href=jv0) Оптовикам
                +e.A.link(href=jv0) Контакты

            +main-menu-second

            +phone-link
